.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: red;
  }
  
  .primary-heading {
    margin-top: 20px; 
    color:red;
  }
  