nav {
  min-height: 70px;
}

.brand-name {
  font-size: 2.5rem; 
  font-weight: bold;
  color: orange;
  margin-left: 20px;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif;
}

.nav {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-links-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 1000;
  background: linear-gradient(to right, tan, green);
}

.navbar-links-container a {
  text-decoration: none;
  color: white;
  margin-block: 25%;
  height: max-content;
  font-size: 1.2rem;
  display: flex;
  height: 100%;
  transition: color 0.3s ease-in-out;
}

.navbar-links-container a:hover {
  color: white;
}

.navbar-links-container a:active {
  color: tan;
}
navbar-links-container a:hover {
  background: linear-gradient(to right, green, tan);
  color: white; 
}
/* Salaoups Style */
.brand-name {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
}

/* Dropdown styles */
.nav-item {
  position: relative;
  padding: 0 15px;
  text-align: center;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0%;
  width: 150px;
  background: linear-gradient(to right, tan, green);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
}
/*highlight items on hover */
.dropdown-content a {
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.dropdown-content a:hover {
  background: rgb(142, 105, 58);

}


.nav-dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 4;
  left: 0;
  background: linear-gradient(to right, tan, green);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

/* CART */
.nav-cart-icon {
  color: rgb(231, 217, 211);
  margin-right: 40px;
  font-size: 2rem;
}

.nav-bar-menu-container {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links-container {
    display: none;
  }

  .nav-bar-menu-container {
    display: block;
  }

  .nav-bar-menu-container svg {
    font-size: 1rem;
    cursor: pointer;
  }
}





.handburger-menu {
  color: white;
}